.nav{
    position: fixed;
    top: 0;
    height: 84.3px;
    width: 100%;
    background-color: #010008;
    display: flex;
    z-index: 5;
}

.logo{
    flex: 4;
    align-items: center;
}

.logoImg{
    position: absolute;
    /* background: url('../../../public/assets/logo1.png'); */
    width: 205px;
    height: 45px;
    object-fit: contain;
    margin-left: 142px;
    top: 20px;
}

.links{
    flex: 6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    position: relative;
    display: flex;
    align-items: center;
}

.links ul{
    position: absolute;
    display: flex;
    right: 86px;
    margin: 0;
}

.links li{
    list-style: none;
    cursor: pointer;
    margin: 0 46px 0 0;

}

.links li a{
    text-decoration: none;
    color: white;
}